





/*@media (min-width: 1500px)
{
    .container-fluid{
        margin-left: 50px;
        margin-right: 50px;
    }
}
@media (min-width: 1650px)
{
    .container-fluid{
        margin-left: 80px;
        margin-right: 80px;
    }
}
@media (min-width: 1920px)
{
    .popular-post{
        margin-top: 140px; 
    }
    .right-sidebar{
        font-size: 26px;
    }
    .right-sidebar li{
        margin-bottom: 30px;
    }
    .recent-news{
        margin-top: 40px;
    }
    .time,.user-name{
        font-size: 24px;
    }
    .time{
        padding-left: 20px;
    } 
    h5{
        background-color:#878887;
        color: white;
        padding: 20px;
        border: 1px solid #878887;
        border-radius: 3px;
        font-size: 28px;
    }
}*/
/* === right sidebar ends === */

/* === main === */






